<a href="https://colab.research.google.com/github/ruchipancha/IST526_Assignment5/blob/main/Assignment_5_H.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing Dependencies and Loading Data

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
# Plotting tools
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Using plotly.express
import plotly.express as px
import plotly.graph_objects as go

In [3]:
import re
from pprint import pprint

import csv
import string

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

# spacy for lemmatization
import spacy

In [4]:
import os

# mount drive
from google.colab import drive
drive.mount('/content/drive')


# edit this path if needed
my_path = '/content/drive/My Drive/Colab Notebooks/'
# my_path = '/content/drive/My Drive/NLP Code/'

# change to this path
os.chdir(my_path)

# verify present working directory. It should be identical to 'my_path'
!pwd

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks

In [19]:
df = pd.read_csv('data/news_articles.csv', encoding='latin-1')
display(df.head())
display(df.tail())

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business

,Article,Date,Heading,NewsType
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

# Data Cleaning

In [20]:
for idx, row in df.iterrows():
  if '>' in row['Article']:
    row['Article'] = row['Article'].split('>')[1]
display(df)

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",3/26/2017,Pak China relations not against any third coun...,business
2689,WASHINGTON: Uber has grounded its fleet of sel...,3/26/2017,Uber grounds self driving cars after accid,business
2690,BEIJING: The New Development Bank plans to co-...,3/27/2017,New Development Bank plans joint investments i...,business
2691,"KARACHI: Karachi-based technology incubator, T...",3/27/2017,Google powered Startup Weekend energizing prou...,business

In [21]:
df['Date'] = pd.to_datetime(df['Date'])

In [22]:
display(df['NewsType'].unique())

array(['business', 'sports'], dtype=object)

Splitting the data by news type

In [32]:
df_sports = df[df['NewsType'] == 'sports']
display(df_sports)

,Article,Date,Heading,NewsType
1021,"LAHORE: Left arm fast bowler Mohammad Amir, wh...",2016-01-01,Amir returns to Pakistan squad after 5 year b,sports
1022,SYDNEY: Australia look set to field two specia...,2016-01-01,Australia set to test twin spin attack against...,sports
1023,SYDNEY: After picking up pretty much every ind...,2016-01-02,Australia skipper Smith plots return to test s...,sports
1024,WELLINGTON: New Zealand captain Brendon McCull...,2016-01-03,McCullum says Amir should get benefit of doub,sports
1025,CAPE TOWN: Ben Stokes and Jonny Bairstow tore ...,2016-01-03,England declare on 629 6 on record breaking day,sports
...,...,...,...,...
2424,GALLE: Off-spinner Dilruwan Perera bagged six ...,2016-08-06,Sri Lanka beat Australia 229 runs clinch seri,sports
2425,Birmingham: Mickey Arthur said Friday that win...,2016-08-06,Away success key for Pakistan coach Arthur,sports
2426,Rio de Janeiro: Team USA confidently eyed top ...,2016-08-06,With Russia weakened who will stop USA,sports
2427,LONDON: Last year Syrian refugee Yusra Mardini...,2016-08-06,From Syria to the Olympics Refugee girl tells ...,sports
2428,RIO DE JANEIRO: The Rio Olympics opening cerem...,2016-08-06,Rios glittering opening launches Olympi,sports

In [33]:
df_business = df[df['NewsType'] == 'business']
display(df_business)

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,2015-01-05,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,2015-01-06,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,2015-01-06,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,2017-03-25,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",2017-03-26,Pak China relations not against any third coun...,business
2689,WASHINGTON: Uber has grounded its fleet of sel...,2017-03-26,Uber grounds self driving cars after accid,business
2690,BEIJING: The New Development Bank plans to co-...,2017-03-27,New Development Bank plans joint investments i...,business
2691,"KARACHI: Karachi-based technology incubator, T...",2017-03-27,Google powered Startup Weekend energizing prou...,business

Grouping data by week

In [67]:
df_g_business = pd.DataFrame(df_business.groupby(pd.Grouper(key='Date', axis=0, freq='W'),as_index = False).size())
display(df_g_business)

          Date  size
0   2015-01-04     2
1   2015-01-11     5
2   2015-01-18     7
3   2015-01-25     8
4   2015-02-01     7
..         ...   ...
113 2017-03-05     5
114 2017-03-12    10
115 2017-03-19    10
116 2017-03-26    14
117 2017-04-02     2

[118 rows x 2 columns]

In [68]:
df_g_sports = pd.DataFrame(df_sports.groupby(pd.Grouper(key='Date', axis=0, freq='W'),as_index = False).size())
display(df_g_sports)

         Date  size
0  2016-01-03     7
1  2016-01-10    33
2  2016-01-17    22
3  2016-01-24    33
4  2016-01-31    29
..        ...   ...
27 2016-07-10    56
28 2016-07-17    54
29 2016-07-24    47
30 2016-07-31    56
31 2016-08-07    64

[32 rows x 2 columns]

#Plotting time-series graph for business and sports news

In [73]:
fig_full = go.Figure(
    go.Scatter(
        x = df_g_business['Date'],
        y = df_g_business['size'],
        name = 'Business'
    )
)
fig_full.add_trace(
    go.Scatter(
        x = df_g_sports['Date'],
        y = df_g_sports['size'],
        name = 'Sports'
    )
)

fig_full.update_layout(
    title="News Articles",
    yaxis_title="Number of Articles",
    xaxis = dict(
        title = 'Weeks',
        rangeslider=dict(
            visible=True
        ),
        type="date"
    )
)
fig_full.show()